// colors palette
$bg_primary_color: #FAFAFA;

$color_primary: #303F9F;
$dark_primary: #283593;

$primary_text_dark: #212121;
$primary_text_white: #FAFAFA;

$secondary_text: #757575;
$accent_color: #009688;
$divider_color: #BDBDBD;

$hover_color: rgba(0, 0, 0, 0.04);

// auxiliary colors
$material_red: #D50000;
$material_green: #8BC34A;
$material_button: #1A237E;
$material_teal: #009688;

// auxiliary variables
$normal_margin: 24px;
$big_margin: 100px;

$small_font_size: 12px;
$normal_font_size: 15px;
$big_font_size: 24px;

// media queries variables

$gt-xs_size: 'screen and (min-width: 576px)';     // Small devices (landscape phones, 576px and up)
$gt-sm_size: 'screen and (min-width: 768px)';     // Medium devices (tablets, 768px and up)
$gt-md_size: 'screen and (min-width: 992px)';     // Large devices (desktops, 992px and up)
$gt-lg_size: 'screen and (min-width: 1200px)';    // Extra large devices (large desktops, 1200px and up)

$gt-sm_height: 'screen and (min-height: 400px)';
$gt-md_height: 'screen and (min-height: 600px)';
$gt-lg_height: 'screen and (min-height: 800px)';

$lt-sm_size: 'screen and (max-width: 767px)';     // Medium devices (tablets, 767px and down)
$lt-xs_size: 'screen and (max-width: 500px)';

$btw_xs_sm: 'screen and (min-width: 576px) and (max-width: 768px)';
