<a mat-raised-button id="button-login" class="right-top-button" scrollTo href="#section-login" *ngIf="!alreadyLogged">
  <span>Login</span>
  <mat-icon aria-label="Home icon">account_circle</mat-icon>
</a>

<a mat-raised-button class="right-top-button" *ngIf="alreadyLogged" routerLink="/dashboard">
  <span>Main</span>
  <mat-icon aria-label="Dashboard icon">dashboard</mat-icon>
</a>

<section class="section-waves" id="section-waves">
  <div class='box'>
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class='title'>
      <h1>Medical History</h1>
      <a mat-button scrollTo href="#section-about" id="view-more">
        <span>View more</span>
        <mat-icon aria-label="View more icon">mouse</mat-icon>
      </a>

    </div>
  </div>
</section> <!-- end section-waves-->

<section class="section-about" id="section-about">

  <div class="container text-center">
    <!-- Further content here -->
    <br><br><br><br><br>
    <br><br><br><br><br>
    <p>SECTION ABOUT</p>
    <br><br><br><br><br>
    <br><br><br><br><br>
  </div>

</section>

<section class="section-login " id="section-login" *ngIf="!alreadyLogged">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <app-login></app-login>
      </div>
    </div>
  </div>
</section> <!-- end section-login-->

<section class="section-footer bg-border-radius">
  <div class="container">
    <div class="row footer-content ">

      <div class="col-12 col-sm-4 text-center">
        <span>View on: </span>
        <i class="fab fa-github fa-2x" id="github"></i>
      </div>

      <div class="col-12 col-sm-4 text-center ">
        <span>Copyright © 2018</span>
        <div>Mateusz Wocka & Paweł Idziak</div>
      </div>

      <div class="col-12 col-sm-4 text-center">
        <a mat-icon-button scrollTo href="#section-waves">
          <mat-icon aria-label="Go top icon">arrow_upward</mat-icon>
        </a>
      </div>

    </div>
  </div>

</section> <!-- end section-footer-->
