<section class="occurrence-list">

  <app-spinner [loading]="loading"></app-spinner>


  <div *ngIf="!loading">

    <div class="occurrence-header">
      <span>Incidents:</span>
      <button mat-icon-button (click)="startUpdate()" *ngIf="!showIncidentOption">
        <mat-icon aria-label="More icon">more_vert</mat-icon>
      </button>

      <div *ngIf="showIncidentOption">
        <button mat-icon-button (click)="updateIncident()">
          <mat-icon aria-label="Confirm item icon" class="material-color-green">check</mat-icon>
        </button>

        <button mat-icon-button (click)="stopUpdate()">
          <mat-icon aria-label="Cancel item icon" class="material-color-red">close</mat-icon>
        </button>
      </div>
    </div>

    <ul>
      <li *ngFor="let incident of userIncidents; let i=index; let last = last" [routerLinkActive]="['active']"
          class="list-item" [ngClass]="{'list-item_hover': !showIncidentOption}">
        <span *ngIf="!showIncidentOption">{{incident.name}}</span>

        <mat-form-field floatPlaceholder="never" *ngIf="showIncidentOption" style="width: 100%;">
          <input matInput [(ngModel)]="userIncidents[i].name" type="text">
        </mat-form-field>

        <div class="list-item-right" *ngIf="showIncidentOption">
          <button mat-icon-button [matMenuTriggerFor]="confirmDeleteOption">
            <mat-icon aria-label="Delete icon" class="">delete</mat-icon>
          </button>
          <mat-menu #confirmDeleteOption>
            <button mat-menu-item>No</button>
            <button mat-menu-item (click)="deleteIncident(incident.incidentID)">Yes</button>
          </mat-menu>

          <div class="moves">
            <button mat-icon-button *ngIf="i>0" (click)="moveElementUp(i)">
              <mat-icon aria-label="Move up icon">keyboard_arrow_up</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!last" (click)="moveElementDown(i)">
              <mat-icon aria-label="Move down icon">keyboard_arrow_down</mat-icon>
            </button>
          </div>

        </div> <!-- end of list-item-right-->

      </li>
    </ul>

    <div class="add-item">
      <mat-form-field *ngIf="addNewIncident" floatPlaceholder="never">
        <input matInput placeholder="Enter the name" [formControl]="incidentInput">
      </mat-form-field>

      <button mat-icon-button *ngIf="addNewIncident" [disabled]="!addNewIncident" (click)="addIncident()">
        <mat-icon aria-label="Confirm item icon" class="material-color-green">check</mat-icon>
      </button>

      <button mat-mini-fab *ngIf="!addNewIncident" (click)="addNewIncident = true;">
        <mat-icon aria-label="Add item icon">add</mat-icon>
      </button>

      <button mat-icon-button *ngIf="addNewIncident" (click)="addNewIncident = false">
        <mat-icon aria-label="Cancel item icon" class="material-color-red">close</mat-icon>
      </button>
    </div>


  </div> <!-- end of spinner-->
</section>
