<nav class="welcome-nav ">

  <div class="container">
    <div class="header-list row">

      <div class="col-12 col-sm-4">
        <button mat-icon-button id="icon-home">
          <mat-icon aria-label="Home icon">home</mat-icon>
        </button>
      </div>

      <div class="col-12 col-sm-8 header-right">
        <button mat-raised-button id="button-login">Login</button>
        <button mat-button href="#">About</button>
        <button mat-button href="#">Contact</button>
      </div>

    </div>
  </div>
</nav>

<section class="container">

  <br><br><br>

  TODO: SOME TEXT ABOUT APP

  <br><br><br>

  TODO: REGISTER / LOGIN SECTION

  <br><br><br>

  TODO: CONTACT SECTION
</section>

