/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "app/shared/variables";
@import "app/shared/mixins";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $bg_primary_color;
  font-size: $normal_font_size;
}

button {
  outline: none !important;
}

.mat-dialog-container {
  padding: 0 !important;
}

.spinner {
  display: flex;
  justify-content: center;
}

.alert-msg {
  padding: 20px;
  color: $bg_primary_color;
  @include box_shadow();
  text-align: center;
  margin: 10px 0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-icon {
    color: $bg_primary_color
  }
}

.msg-success {
  background-color: $material_green;
}

.msg-error {
  background-color: $material_red;
}

.z-index {
  z-index: 999;
}

.material-color-green {
  color: $material_green;
}

.material-color-red {
  color: $material_red;
}

// to avoid different arrow position in time picker
.owl-dt-timer-content {
  margin: 0 ;
}
