@import "../../_helpers/variables";
@import "../../_helpers/mixins";

.add-event {

  margin-left: 100px;
  margin-top: $normal_margin;
  button {
    margin-left: 30px;
    width: 500px;
    height: 70px;
    opacity: .5;
  }
  .add-icon {
    margin-left: -27px;
    mat-icon {
    }
    z-index: 9999;
  }
}

.incidents-container {
  position: relative;
  margin: 50px $normal_margin $normal_margin $normal_margin;
  padding-left: $normal_margin*2;
  @media #{$gt-xs_size} {
    padding-left: $normal_margin*4;
  }

  // linia przerywana
  &:before {
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: -150px;
    border-left: 2px dashed $divider_color;
  }
}

.one-event {
  &:not(:first-child) {
    margin-top: 60px;
  }
}
