<section class="timeline-section">

  <app-spinner [loading]="loading"></app-spinner>

  <div *ngIf="!loading">

    <div class="event-options">
      <button mat-mini-fab color="primary" (click)="openEventDialog(null, null)">
        <mat-icon aria-label="Add icon">add</mat-icon>
      </button>

      <button mat-mini-fab [matMenuTriggerFor]="settingsOption" *ngIf="incident.listOfEvents.length > 0">
        <mat-icon aria-label="Add icon">settings</mat-icon>
      </button>
      <mat-menu #settingsOption>
        <button mat-menu-item>Export to PDF</button>
        <button mat-menu-item>Import</button>
      </mat-menu>

      <button mat-mini-fab class="d-md-none" *ngIf="incident.listOfEvents.length > 0">
        <mat-icon aria-label="Stats icon">equalizer</mat-icon>
      </button>

    </div> <!-- end event-options -->

    <div class="row">

      <div class="col-12 col-md-6">

        <p class="header">TIME-LINE</p>

        <div class="timeline-container" *ngIf="incident.listOfEvents.length > 0">
          <div class="one-event" *ngFor="let event of incident.listOfEvents; let i=index;">
            <app-event [event]="event" (click)="openEventDialog(event, i)"></app-event>
          </div>
        </div>

        <div *ngIf="incident?.listOfEvents.length === 0">
          <p>You don't have any events in this incident.</p>
          <span>TODO make me beautiful :V</span>
        </div>

      </div>

      <div class="col-12 col-md-6">
        <p class="header">STATISTICS</p>
        <p class="text-center">TODO</p>
      </div>
    </div> <!-- end row -->

  </div>

</section>
