<div class="user-container">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-card>
          <form [formGroup]="userForm" (ngSubmit)="updateProfile()">
            <mat-form-field>
              <input matInput placeholder="Full Name" [formControl]="nameForm" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Birthday" [formControl]="birthdayForm">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Gender" [formControl]="genderForm">
                <mat-option *ngFor="let gender of gender" [value]="gender.value">
                  {{ gender.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Adress" [formControl]="addressForm">
            </mat-form-field>
            <mat-form-field>
              <span matPrefix>+48 &nbsp;</span>
              <input type="tel" matInput name="phone" maxlength="9" placeholder="Telephone"
                     [formControl]="mobileNumberForm">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Weight" [formControl]="weightForm" type="number" required>
              <span matSuffix>[kg]</span>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Height" [formControl]="heightForm" type="number" required>
              <span matSuffix>[m]</span>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Waist" [formControl]="waistForm" type="number">
              <span matSuffix>[cm]</span>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Hip" [formControl]="hipForm" type="number">
              <span matSuffix>[cm]</span>
            </mat-form-field>

            <div class="response">
              <button mat-raised-button type="submit" [disabled]="!userForm.dirty || userForm.invalid"
                      (click)="addUserProfile()">Apply
              </button>
              <div class="profile_error">
                <p *ngIf="error">Error: {{error}}</p>
              </div>
              <div class="profile_response">
                <p *ngIf="response">{{response}}</p>
              </div>
            </div>
          </form>
        </mat-card>
      </div>

      <div class="col-12 col-md-6 bmi-whr">
        <div class="bmi">
          <p class="header">BMI classification</p>
          <p class="quotation">„Normal range publicated by WHO counts 18.50 - 24.99”</p>
          <p class="information">{{countBMI()}}</p>
        </div>
        <div class="whr">
          <p class="header">WHR classification</p>
          <p class="quotation">„Normal ratio publicated by DGSP is 0.80 for women and 0.90 for men”</p>
          <p class="information">{{countWHR()}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
