@import "../../../shared/variables";
@import "../../../shared/mixins";

#mapdiv{
  display: block;
}

mat-form-field{
  width: 100%;
}
.user-container{
  margin-top: 2%;
}
.header {
  @include header_in_content;
  text-align: center;
  @media #{$gt-xs_size}
  {
    #mapdiv {
      display: none;
    }
  }
}
.quotation {
  @include quotation_in_content;
  text-align: center;
  font-style: italic;
  @media #{$gt-xs_size}
  {
    #mapdiv {
      display: none;
    }
  }
}
.information {
  @include quotation_in_content;
  text-align: center;
  @media #{$gt-xs_size}
  {
    #mapdiv {
      display: none;
    }
  }

}
