<section class="section-login">

  <p>You can login using your social media or by email&password</p>

  <div class="section-login-content">

    <app-alert [msg]="response? response : error" [isSuccess]="!!response"></app-alert>
    <app-spinner [loading]="_authService.loading"></app-spinner>

    <button mat-raised-button id="google" (click)="googleLogin()">Google</button>
    <button mat-raised-button id="fb" (click)="facebookLogin()">Facebook</button>
    <button mat-raised-button (click)="emailButtonFocused = !emailButtonFocused;">
      <div class="email">
        <mat-icon>mail_outline</mat-icon>
        <span>Email</span>
        <mat-icon *ngIf="!emailButtonFocused">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="emailButtonFocused">keyboard_arrow_up</mat-icon>
      </div>
    </button>

    <form class="login-form" *ngIf="emailButtonFocused">
      <mat-form-field>
        <input type="email" matInput placeholder="Email" [formControl]="email" required autofocus>
        <mat-error *ngIf="email.invalid">{{getErrorMsg(email)}}</mat-error>
      </mat-form-field>
      <mat-form-field style="margin-top: 10px;">
        <input type="password" matInput placeholder="Password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMsg(password)}}</mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="emailPasswordLogin(); error=''; response=''" style="margin-top: 20px;">
        <mat-icon>exit_to_app</mat-icon>
        <span>Login</span>
      </button>
      <a (click)="openRegisterDialog()">Forgot password?</a>

    </form>

    <a (click)="openRegisterDialog()">No account? <strong>Create one here</strong></a>

  </div>

</section>
