<section class="section-incident-list">

  <!-- Error message -->
  <div class="alert-msg msg-error" *ngIf="error" style="margin: 10px;">
    <span>{{error}}</span>
    <div class="close">
      <mat-icon (click)="error = ''" aria-label="Close icon">close</mat-icon>
    </div>
  </div>

  <!-- Dashboard button -->
  <div class="list-element" [routerLink]="['/dashboard/main']" routerLinkActive="active">
    <div class="icon-with-name">
      <mat-icon aria-label="List icon">dashboard</mat-icon>
      <span>Dashboard</span>
    </div>
  </div>

  <!-- Incident button -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="icon-with-name">
          <mat-icon aria-label="List icon">view_list</mat-icon>
          <span>Incidents</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Incident list (no editable)-->
    <mat-nav-list *ngIf="!showIncidentOption">
      <mat-list-item *ngFor="let incident of userIncidents"
                     [routerLink]="['/dashboard/incident', incident.incidentID]"
                     routerLinkActive="active">
        <span class="no-editable-child">{{incident.name}}</span>
      </mat-list-item>

    </mat-nav-list>

    <!-- Incident list (editable)-->
    <div *ngIf="showIncidentOption">

      <div *ngFor="let incident of userIncidents; let i=index; let last = last"
           class="editable-child">

        <mat-form-field floatPlaceholder="never" style="width: 100%;">
          <input matInput [id]="'inputName'+i" [(ngModel)]="userIncidents[i].name" type="text"
                 (change)="updateIncidentName(i)">
        </mat-form-field>

        <div class="edit-options">
          <button mat-icon-button [matMenuTriggerFor]="confirmDeleteOption">
            <mat-icon aria-label="Delete icon" class="">delete</mat-icon>
          </button>
          <mat-menu #confirmDeleteOption>
            <button mat-menu-item>No</button>
            <button mat-menu-item (click)="deleteIncident(incident.incidentID)">Yes</button>
          </mat-menu>

          <div class="moves">
            <button mat-icon-button *ngIf="i>0" (click)="moveElementUp(i)">
              <mat-icon aria-label="Move up icon">arrow_drop_up</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!last" (click)="moveElementDown(i)">
              <mat-icon aria-label="Move down icon">arrow_drop_down</mat-icon>
            </button>
          </div>

        </div>
      </div>

    </div>

    <!-- Add and edit incident buttons -->
    <div class="add-edit">

      <button mat-button *ngIf="!addNewIncident && !showIncidentOption" (click)="addNewIncident = true;">
        <mat-icon aria-label="Add item icon">add</mat-icon>
        <span>Add</span>
      </button>

      <button mat-button (click)="showIncidentOption = true;"
              *ngIf="!showIncidentOption && !addNewIncident">
        <mat-icon aria-label="More icon">edit_mode</mat-icon>
        <span>Edit</span>
      </button>

      <button mat-button color="warn" *ngIf="showIncidentOption" (click)="showIncidentOption = false;">
        <mat-icon aria-label="Cancel item icon">close</mat-icon>
        <span>Cancel</span>
      </button>
    </div>

    <!-- Add incident form -->
    <div class="add-item">
      <mat-form-field *ngIf="addNewIncident" floatPlaceholder="never">
        <input matInput placeholder="Enter the name" [formControl]="incidentInput">
      </mat-form-field>

      <button mat-icon-button *ngIf="addNewIncident" [disabled]="!addNewIncident" (click)="addIncident()">
        <mat-icon aria-label="Confirm item icon" class="material-color-green">check</mat-icon>
      </button>

      <button mat-icon-button *ngIf="addNewIncident" (click)="addNewIncident = false">
        <mat-icon aria-label="Cancel item icon" class="material-color-red">close</mat-icon>
      </button>

    </div>

  </mat-expansion-panel>

</section>
