@import "../../_helpers/variables";
@import "../../_helpers/mixins";

mat-drawer-container {
  height: 100vh;
}

mat-drawer {
  overflow-x: hidden;
  min-width: 250px;
  @media #{$gt-sm_size} {
    width: 350px;
  }
  @include box_shadow();
}

.content {
  margin: 50px;
}

#button-menu {
  position: absolute;
  top: 10px;
  left: 10px;
}

.wave-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $color_primary;
  width: 150%;
  height: 200px;
  margin-top: -110px;
  border-radius: 40%;
  @include box_shadow();
}

.app-name {
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .1em;
  font-size: $normal_font_size;
  text-shadow: 0 1px 0 rgba(black, .1);
}

.header-title {
  padding: 10px 10px 0 10px;
  color: $primary_text_white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $normal_margin 0;
  color: $secondary_text;
}

.drawer-content {
  //margin: 0 $normal_margin;
}
