<mat-drawer-container (backdropClick)="hideDrawer ? drawer.close() : null">

  <mat-drawer [disableClose]="true" #drawer [mode]="hideDrawer ? 'over' : 'side'" [opened]="!hideDrawer">
    <button mat-button style="height: 0; position: absolute;"></button> <!-- 'absorbs' the behavior -->

    <div class="drawer-header">
      <div class="wave-bg"></div>

      <div class="header-title">
        <div class="z-index app-name">Medical History</div>
        <button mat-icon-button (click)="logout()">
          <mat-icon class="z-index" aria-label="Logout icon">exit_to_app</mat-icon>
        </button>
      </div>

      <div class="user-info">
        <button mat-raised-button>
          <mat-icon aria-label="Account icon">account_circle</mat-icon>
          <span>{{getUserName()}}</span>
        </button>
      </div>
    </div>


    <div class="drawer-content">
      <app-occurrence-list></app-occurrence-list>
    </div>


    <!--<div class="drawer-footer">-->
      <!--<button mat-raised-button>-->
        <!--<mat-icon aria-label="Contact icon">phone</mat-icon>-->
        <!--<span>contact</span></button>-->
      <!--<button mat-raised-button>-->
        <!--<mat-icon aria-label="Info icon">info_outline</mat-icon>-->
        <!--<span>info</span>-->
      <!--</button>-->
    <!--</div>-->

  </mat-drawer>

  <span id="button-menu" *ngIf="hideDrawer" (click)="drawer.toggle()">
    <mat-icon aria-label="Open menu icon">menu</mat-icon>
  </span>

  <div class="content">

    <p>content</p>

  </div>

</mat-drawer-container>
