<section class="section-login">

  <!--<p>You can login using your social media or by email&password</p>-->

  <div class="section-login-content">

    <div class="alert-msg msg-error" *ngIf="error">
      <span>{{error}}</span>
      <div class="close">
        <mat-icon (click)="error = ''" aria-label="Close icon">close</mat-icon>
      </div>
    </div>

    <app-spinner [loading]="loading"></app-spinner>

    <button mat-raised-button id="google" (click)="login('google')">Google</button>
    <!--<button mat-raised-button id="fb" (click)="login('facebook')">Facebook</button>-->
    <button mat-raised-button (click)="emailButtonFocused = !emailButtonFocused;">
      <span class="email">
        <mat-icon aria-label="Email icon">mail_outline</mat-icon>
        <span>Email</span>
        <mat-icon *ngIf="!emailButtonFocused" aria-label="Open email icon">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="emailButtonFocused" aria-label="Close email icon">keyboard_arrow_up</mat-icon>
      </span>
    </button>

    <form class="login-form" *ngIf="emailButtonFocused">
      <mat-form-field>
        <input type="email" matInput placeholder="Email" [formControl]="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [formControl]="password">
      </mat-form-field>

      <button mat-raised-button (click)="login('email'); error=''; response=''">
        <mat-icon aria-label="Login icon">exit_to_app</mat-icon>
        <span>Login</span>
      </button>
      <a (click)="openForgotDialog()">Forgot password?</a>

    </form>

    <a (click)="openRegisterDialog()">No account? <strong>Create one here</strong></a>

  </div>

</section>
