<section class="section-add-event">
  <div class="header">
    <h2 *ngIf="!eventIsToUpdate">Add Event</h2>
    <h2 *ngIf="eventIsToUpdate">Update Event</h2>
    <div>
      <button mat-button style="height: 0; position: absolute;"></button> <!-- 'absorbs' the behavior -->
      <button mat-icon-button [matMenuTriggerFor]="confirmDelete" *ngIf="eventIsToUpdate">
        <mat-icon aria-label="Close dialog icon">delete</mat-icon>
      </button>
      <mat-menu #confirmDelete xPosition="before">
        <button mat-menu-item>No</button>
        <button mat-menu-item (click)="deleteEvent()">Yes</button>
      </mat-menu>

      <button mat-icon-button (click)="closeDialog()">
        <mat-icon aria-label="Close dialog icon">close</mat-icon>
      </button>
    </div>
  </div>

  <form class="add-event-form" [formGroup]="addEventForm">

    <mat-form-field class="full-width">
      <input type="text" matInput placeholder="Title" [formControl]="eventTitle" required>
    </mat-form-field>

    <div class="">

      <mat-form-field class="full-width">
        <mat-select placeholder="Type" required [(value)]="selectedType">
          <mat-option *ngFor="let myType of eventTypes" [value]="myType">
            <div class="type">
              <span class="type-color" [style.background-color]="myType.color"></span>
              <span>{{myType.name}}</span>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput [owlDateTimeTrigger]="dt" [owlDateTime]="dt" placeholder="Choose a date"
               [formControl]="eventDate" required style="cursor: pointer;">
        <mat-icon aria-label="Calendar icon" matSuffix>today</mat-icon>
        <owl-date-time [pickerMode]="'dialog'" #dt></owl-date-time>
      </mat-form-field>

    </div>
    <mat-form-field class="full-width">
      <textarea rows="4" matInput placeholder="Description" [formControl]="eventDesc"></textarea>
    </mat-form-field>


    <div class="add-event-buttons">
      <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="addEventForm.invalid"
              *ngIf="!eventIsToUpdate" (click)="addEvent()">
        Add
      </button>
      <button mat-raised-button color="primary" [disabled]="addEventForm.invalid"
              *ngIf="eventIsToUpdate" (click)="updateEvent()">
        Update
      </button>
    </div>
  </form>

</section>
