@import "../../shared/variables";
@import "../../shared/mixins";

.section-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 $normal_margin;
}

.header {
  @include header_in_content;
  text-align: center;
}

.warning-icon {
  mat-icon {
    color: $material_red;
    font-size: 100px;
  }
  transform: translateX(-38px);
}

a {
  text-decoration: none;
}
