<section class="timeline-section">

  <div class="event-options">
    <button mat-mini-fab color="primary" (click)="openEventDialog(null)">
      <mat-icon aria-label="Add icon">add</mat-icon>
    </button>

    <button mat-mini-fab [matMenuTriggerFor]="settingsOption" *ngIf="events.length > 0">
      <mat-icon aria-label="Add icon">settings</mat-icon>
    </button>
    <mat-menu #settingsOption>
      <button mat-menu-item (click)="saveAsPDF()">Export to PDF</button>
    </mat-menu>

    <a mat-mini-fab class="d-md-none" *ngIf="events.length > 0"
       scrollTo href="#statistics">
      <mat-icon aria-label="Stats icon">equalizer</mat-icon>
    </a>

  </div> <!-- end event-options -->

  <div class="row section-content">

    <div class="col-12 col-md-6">

      <p class="header">TIME-LINE</p>

      <div class="timeline-container" *ngIf="events.length > 0">
        <div class="one-event" *ngFor="let event of events">
          <app-event [event]="event" (click)="openEventDialog(event)"></app-event>
        </div>
      </div>

      <div *ngIf="events.length === 0" class="no-events">
        <p>You don't have any events in this incident.</p>
        <p>Add some!</p>
      </div>

    </div>

    <div class="col-12 col-md-6" id="statistics" [ngClass]="{'static-stats': staticStats}">
      <p class="header">STATISTICS</p>
      <app-event-pie [eventsList]="events" *ngIf="events.length > 0"></app-event-pie>
      <div *ngIf="events.length === 0" class="no-events">
        <p>Add some events to display statistics.</p>
      </div>    </div>
  </div> <!-- end row -->

</section>
