@import "../../_helpers/variables";
@import "../../_helpers/mixins";

.section-register {
  @include section_dialog;
}

.header {
  @include header_in_dialog;
}

.register-form {
  @include form_in_dialog;
}

.my-error {
  font-size: 11px;
  color: $material_red;
  margin-top: -15px;
}

.tips {
  margin: $normal_margin 2*$normal_margin 0 2*$normal_margin;
  background-color: $bg_primary_color;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  @include box_shadow();
}
