@import "../../_helpers/variables";

.section-register {
  min-width: 70vw;
  @media #{$gt-sm_size} {
    min-width: 40vw;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_accent;
  padding: $normal_margin;
  @include box_shadow();
  color: $color_primary;
  h2 {
    margin: 0;
  }
}

.register-form {
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
  }
  padding: 2*$normal_margin;
}

.my-error {
  font-size: 11px;
  color: $material_red;
  margin-top: -15px;
}

.tips {
  margin: $normal_margin 2*$normal_margin 0 2*$normal_margin;
  background-color: $color_primary;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  @include box_shadow();
}
